.qr-page{

min-height:100vh;

background:#f1f5f9;

padding:40px;

}



.qr-header{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

margin-bottom:30px;

}



.qr-header h1{

margin:0;

font-size:38px;

color:#172554;

}



.qr-header p{

color:#64748b;

font-size:18px;

}




.qr-container{


background:white;

max-width:900px;

margin:auto;

padding:40px;

border-radius:30px;

box-shadow:0 10px 30px rgba(0,0,0,.12);

text-align:center;

}



.qr-container h2{

font-size:30px;

color:#1e293b;

}



.qr-container p{

color:#64748b;

}




.scanner-box{


margin-top:30px;

border:2px dashed #cbd5e1;

border-radius:25px;

padding:25px;


}



#reader{

width:100%;

}





.qr-success{


padding:40px;

}



.success-icon{

font-size:70px;

}



.qr-success strong{

display:block;

font-size:30px;

color:#2563eb;

margin:20px;


}



.continue-button{


margin-top:25px;

background:#2563eb;

color:white;

border:none;

padding:15px 40px;

border-radius:15px;

font-size:18px;

cursor:pointer;

}



.continue-button:hover{

background:#1d4ed8;

}