.historial-container{

min-height:80vh;

background:#f5f7fb;

padding:40px;

}



.historial-container h1{

color:#172554;

font-size:36px;

}



.historial-container p{

color:#64748b;

}



.empty-report{


background:white;

border-radius:25px;

padding:60px;

margin-top:40px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);


}



.empty-report:first-letter{

font-size:40px;

}



.empty-report h2{

color:#1e293b;

}



.empty-report p{

font-size:17px;

}