body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f6fb;
}


.home-container {
  min-height: 100vh;
  padding: 40px;
}


/* HEADER */

.header {
  background: white;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}


.logo {
  font-size: 45px;
}


.header h1 {
  margin: 0;
  color: #16213e;
}


.header p {
  color: #777;
}



.status {
  background: #d9fbe5;
  color:#16803c;
  padding:10px 20px;
  border-radius:20px;
}



/* BIENVENIDA */

.welcome {
  margin-top:40px;
}


.welcome h2 {
  font-size:40px;
  color:#16213e;
}



.welcome p {
  color:#666;
  font-size:18px;
}



/* TARJETAS */

.menu-grid {

margin-top:40px;

display:grid;

grid-template-columns: repeat(2,1fr);

gap:25px;

}



.menu-card {

background:white;

border-radius:25px;

padding:30px;

display:flex;

align-items:center;

gap:25px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}



.menu-card:hover{

transform:translateY(-5px);

}



.icon {

font-size:45px;

}



.menu-card h3{

margin:0;

font-size:24px;

}



.menu-card p{

color:#777;

}



/* COLORES */

.qr{

border-left:8px solid #1976d2;

}


.history{

border-left:8px solid #ff9800;

}


.panic{

border-left:8px solid #e53935;

}


.login{

border-left:8px solid #00a86b;

}




footer{

margin-top:50px;

text-align:center;

color:#777;

}