.panic-container{

min-height:80vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:#f8fafc;

padding:40px;

}



.panic-container h1{

font-size:42px;

color:#dc2626;

}



.panic-container p{

font-size:18px;

color:#64748b;

margin-bottom:40px;

}




.panic-button{

background:#dc2626;

color:white;

border:none;

width:280px;

height:280px;

border-radius:50%;

font-size:30px;

font-weight:bold;

cursor:pointer;

box-shadow:0px 10px 30px rgba(220,38,38,.4);

transition:.3s;

}



.panic-button:hover{

transform:scale(1.05);

}



.alert-card{


background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px #0002;

font-size:20px;

line-height:2;

margin-top:30px;


}